[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
django = "*"
django-environ = "*"
dj-database-url = "*"
djangorestframework = "==3.9"
markdown = "*"
django-filter = "*"
drf-yasg = "*"
packaging = "*"

[requires]
python_version = "3.7"
